<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="guest" class="com.global.spring.di.Guest">
		<constructor-arg ref="money"></constructor-arg>
		<property name="coffee" ref="coffee"></property>
		<property name="memberId" value="hong"></property>
	</bean>
	<bean id="money" class="com.global.spring.di.Money"></bean>
	<bean id="coffee" class="com.global.spring.di.Coffee"></bean>

</beans>